<div class="">
    <div class="row">
      <div class="col-md-12">
                <p href="">Below, take a look at all the wonderful vegan restaurants around in the great city of Chicago! Every town has so many options, with more cropping up by the day, that all help offset the climate crisis at our doorstep. Please visit <a href="https://www.ox.ac.uk/news/2016-03-22-veggie-based-diets-could-save-8-million-lives-2050-and-cut-global-warming" target="_blank" rel="noopener noreferrer">Happy Cow</a> for a more nuanced look at vegan options in your area; after all, Google only knows so much!</p>
        <br>
        <div>
            <iframe class="d-flex justify-content-center" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d113024.48567263468!2d-87.70233728885128!3d41.89159033653117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1svegan!5e0!3m2!1sen!2sus!4v1613444181593!5m2!1sen!2sus" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
